@model PowerTracker.Models.Diet

<h2>Изтриване на запис</h2>

<div>
    <h3>Сигурни ли сте, че искате да изтриете този запис?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">Име</dt>
            <dd class="col-sm-10">@Model.Name</dd> <!-- Тук коригирах FoodName на Name -->

            <dt class="col-sm-2">Количество (г)</dt>
            <dd class="col-sm-10">@Model.QuantityInGrams</dd>

            <dt class="col-sm-2">Калории на 100г</dt>
            <dd class="col-sm-10">@Model.CaloriesPer100g</dd>

            <dt class="col-sm-2">Общо калории</dt>
            <dd class="col-sm-10">@Model.Calories</dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a asp-action="Index" class="btn btn-secondary">Отказ</a>
    </form>
</div>
