@model PowerTracker.Models.Diet

<h2>Редакция на запис</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label for="Name">Изберете храна</label>
        <select asp-for="Id" class="form-control" asp-items="ViewBag.FoodList"></select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantityInGrams" class="control-label">Количество (г)</label>
        <input asp-for="QuantityInGrams" class="form-control" />
        <span asp-validation-for="QuantityInGrams" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
</form>
