@model PowerTracker.Models.Diet

@{
    ViewData["Title"] = "Редактиране на диета";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Категория</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
    </div>

    <div class="form-group">
        <label asp-for="FoodId" class="control-label">Храна</label>
        <select asp-for="FoodId" class="form-control" asp-items="ViewBag.Foods"></select>
    </div>

    <div class="form-group">
        <label asp-for="QuantityInGrams" class="control-label">Количество (грамове)</label>
        <input asp-for="QuantityInGrams" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
</form>
