@model IEnumerable<BoxingAppDiploma.Models.Training>

@{
    ViewData["Title"] = "Index";
}



<h2>Training Log</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Duration (minutes)</th>
            <th>Calories Burned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var training in Model)
        {
            <tr>
                <td>@training.Date.ToShortDateString()</td>
                <td>@training.Description</td>
                <td>@training.DurationMinutes</td>
                <td>@training.CaloriesBurned</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Training/Create">Add New Training</a>

