@{
    ViewData["Title"] = "Home Page"; // Заглавие на страницата
}

<h2>BoxingApp!</h2>



<p>Track your daily training and diet here!</p>

@Html.ActionLink("Add New Training", "Create", "Trainings", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Add Food", "Create", "Diets", null, new { @class = "btn btn-primary" })
